@using BusinessLogic.DomainModels.CourseDomainMoel
@model CourseModulesViewModel
@{
    ViewData["Title"] = "CourseModules";
}

<h1>All Course Modules</h1>

<p>
    <a asp-controller="Modules" asp-action="Create">Create New Module</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
               Description
            </th>
          
            <th>
                Courses name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Modules) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
         
           
            <td>
                <a asp-controller="Modules" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Modules" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Modules" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
