@using BusinessLogic.DomainModels.CourseDomainMoel
@model CourseStudentsViewModel
@{
    ViewData["Title"] = "CourseStudents";
}

<h1>All Course Students</h1>

<p>
    <a asp-controller="Students" asp-action="Create">Create New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
                BirthDate
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>

                <td>
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Students" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index">All</a>
</p>